/* Колір лого #2196F3; #000000 */
/* Основний колір тексту #212121; */
/* Другорядний колір #757575; */
/* Колір акценту #2196F3 */
/* Кольори у футері
#ffffff
rgba(255, 255, 255, 0.6); */
/* Основний колір фона #ffffff */
/* "Футер і Хіро" колір фона #2F303A */
/* "Команда" колір фона #F5F4FA; */

:root {
  --main-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --hero-footer-background: #2f303a;
  --footer-logo-color: #ffffff;
}

body {
  background-color: var(--footer-logo-color);
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

/* Header stylization */

.logo {
  color: var(--logo-color);
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: var(--main-text-color);
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: #2196f3;
}

/* contacts */
.mail,
.phone {
  color: var(--secondary-color);
}

.contacts .mail:hover,
.contacts .mail:focus,
.contacts .phone:hover,
.contacts .phone:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--hero-footer-background);
  color: var(--footer-logo-color);
}

/* колір для тексту у секціях */

.section .section-text {
  color: var(--secondary-color);
}

/* team */
.team {
  background-color: #f5f4fa;
}

/* Footer */

.footer {
  background-color: var(--hero-footer-background);
}

.footer-logo {
  color: var(--footer-logo-color);
}

.footer .footer-address {
  color: var(--footer-logo-color);
}

.footer .footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
/* Button for first page*/

.button {
  color: var(--footer-logo-color);
  background-color: var(--accent-color);
}

.button:hover,
.batton:focus {
  color: var(--accent-color);
  background-color: var(--footer-logo-color);
}

/* buttons for portfolio */

.btn {
  background-color: #f5f4fa;
  color: var(--main-text-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}
